.DS_Store
node_modules
src
test
.babelrc
.eslintrc.js
.github
.vscode
public
babel.config.json
reportWebVitals.js
deploy.sh
jest-preprocess.js 
jest.config.js
jsdoc.config.json
setupTests.js
createTypesFile.js
yarn-error.log
.vscode
test-app